
.container {
    margin: 0 auto;
}
.top-box {
    background-image: url("./images/sad-dog.jpeg");
    width: 960px;
    padding-top: 10px;
 
}

.sign-up {
    position: relative;
    float: left;
    color: white;
    text-align: center;
    padding-top: 250px;
    padding-left: 50px;
    margin-left: 200px;
    padding-bottom: 20px;
    width: 500px;
}

.header {
    text-align: center;
    color: white;
    font-family: 'Pangolin', cursive;
    /* font-family: 'Lovers Quarrel', cursive; */

}

.success {
    display: block;
    text-align: center;
    margin: 100px;
    font-family: 'Pangolin', cursive;
    color: rgb(211, 54, 54);
}
.img {
    /* position: absolute; */
    /* float: left; */
    margin: 50px;
    padding-top: 50px;
    width:  100px;
    height: 100px;
    /* border: 10px;
    border-style: solid;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover; */
}
