
.container {
    margin: 0 auto;
}
.top-box {
    background-image: url("./images/sad-dog.jpeg");
    width: 960px;
}

.sign-up {
    position: relative;
    float: left;
    color: white;
    text-align: center;
    padding-top: 350px;
    padding-left: 50px;
    margin-left: 200px;
    padding-bottom: 20px;
    width: 500px;
}

.header {
    text-align: center;
    color: white;
    font-family: 'Lovers Quarrel', cursive;

}

.success {
    display: block;
}